.oak-fort{
    padding-top: 110px;
    width: 100%;
}

.oak-fort-left{
    background-color: #2E3192;
    color: #EFEFEF;

    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
    gap: 10px;
}

.oak-fort-left h1{
    width: 100%;
}

.oak-fort-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.divider{
    border: 3px solid #C49A6C;
    border-radius: 5px;
    width: 100%;
    align-self: center;
}

.specialities{
    margin: 50px 10%;
}

.specialities-container{
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 100px;
    flex-wrap: wrap;
    transition: 0.5s;
}

.specialities h2{
    margin-bottom: 50px;
    text-align: center;
}

.item{
    width: 250px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
}

.image-container {
    width: 250px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
  }
  
  .image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(3);
  }

#chain-link{
    object-position: center -30px;
}

#wood-screen{
    transform: scale(2);
    object-position: center -10px;
}

#entry-features{
    transform: scale(1.5);
    object-position: 27px -25px;
}
  

.item-text{
    flex-direction: column;
    background-color: #2E3192;
    color: #EFEFEF;
    padding: 20px 10px;
    border-radius: 0 0 10px 20px;
}

.item-text p{
    font-size: 15px;
}

@media(max-width:800px){
    .oak-fort{
        flex-direction: column;
    }
    
    .oak-fort-left img{
        align-self: center;
        width: auto;
    }

    .oak-fort-left{
        padding: 50px 50px;
    }

    .oak-fort h1{
        font-size: 30px
    }

    .specialities-container{
        gap: 50px;
    }
}